*,
*::before,
*::after {box-sizing: border-box;}

html, body{
  height: 100%;
}

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffffff;
  }
  
  .container {
    display: flex;
  }
  
  .menu-lateral {
    width: 250px;
    background: linear-gradient(90deg, #DF7E7A, #B76A66);
    padding: 20px;
    color: white;
  }
  
  .menu-lateral h3 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #ffff;
    background: linear-gradient(90deg, #443f3f, #1d1615);
  }
  
  .menu-lateral ul {
    list-style: none;
    margin-bottom: 20px;
    color: #ffff;
  }
  
  .menu-lateral li {
    margin-bottom: 6px;
    cursor: pointer;
    font-size: .95rem; /* ajusta o tamanho*/
   
  }
  
  .conteudo {
    flex: 1;
    padding: 30px;
    background-color: white;
  }
  
  .botao-titulo {
    background-color: #8F5553; 
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    cursor: default;
  }
  
  .descricao-produto {
    display: flex;
    align-items: center;
    gap: 30px;
    display: inline-block; /*combina os elementos em linhas e blocos*/
    padding: 20px 10px 5px;
  }
  
  .descricao-produto p {
    max-width: 1000px;
    font-size: 20px;
    color: #333;
    text-align: justify; /* ajustar as texto*/
    gap:20px;
  }
  
  .imagem-produto {
    max-width: 30rem;
    border-radius: 20px;
    font-size: 20px; /* ajusta o tamanho*/
  }

  
  .modo-uso-conteudo {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .modo-uso-conteudo p {
    max-width: 150rem;
    font-size: 20px;
    color: #333;
    text-align: justify; /* ajustar as texto*/
  }
  
  .imagem-uso {
    max-width: 150rem;
    border-radius: 20px;
    font-size: 25px; /* ajusta o tamanho*/
    font-size: clamp(1.25rem, 2.5vw, 1.6rem); /* ajusta o tamanho*/
  } 
  
  .galeria-container {
    padding: 40px 20px;
    max-width: 1100px;
    margin: 0 auto;
  }

@media(max-width: 1200px){
  .conteudo{grid-template-columns: repeat(4, 1fr);}
}

@media(max-width: 992px){
  .conteudo{grid-template-columns: repeat(3, 1fr);}
}

@media(max-width: 680px){
  .conteudo{grid-template-columns: repeat(2, 1fr);}
}

@media(max-width: 420px){
  .conteudo{grid-template-columns: repeat 1fr;}
}

@media(max-width: 1200px){
  .container{grid-template-columns: repeat(4, 1fr);}
}

@media(max-width: 992px){
  .container{grid-template-columns: repeat(3, 1fr);}
}

@media(max-width: 680px){
  .container{grid-template-columns: repeat(2, 1fr);}
}

@media(max-width: 420px){
  .container{grid-template-columns: repeat 1fr;}
}
  
  
  .subtitulo {
    color: #c4c4c4;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .barra-titulo {
    background-color: #2e2320;
    height: 40px;
    width: 100%;
    margin-bottom: 40px;
  }
  
  .produtos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 30px;
  }
  
  .produto {
    background-color: #f3dcda;
    padding: 20px 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .produto img {
    width: 100%;
    max-width: 130px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
  }
  
  .produto p {
    background-color: #d88e8e;
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 15px;
    margin: 0;
  }
  
  .produto:hover {
    transform: scale(1.05);
  }
  

  